﻿@model Pintrst.Models.Pin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinPicture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinPicture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PinID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
