﻿@model IEnumerable<Pintrst.Models.Pin>

@{
    ViewBag.Title = "Pins";
}

<h2>Pins</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Search by Tag: @Html.DropDownList("searchString", "All") <input type="submit" value="Search" />
    </p>
    }
    
</p>


@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="@Html.DisplayFor(modelItem => item.PinPicture)" alt="...">
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <p>@Html.DisplayFor(modelItem => item.Text)</p>

                <p>@Html.DisplayFor(pinItem => item.Tag)</p>
                  </div>
        </div>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PinID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PinID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PinID })
        </td>
    </div>
}


